{% extends 'default/default_template.html' %}
{% load static %}
    <!-- <link rel="stylesheet" href="{% static 'estoque/addProduto.css' %}"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Adicionar produto{% endblock %}</title>
</head>
<body>
    {% block 'content' %}
    
    <div class="mensagem">
        {% if mensagem %}
            <p>{{ mensagem }}</p>
        {% endif %}
    </div>

    <h2>Adicionar produto</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Adicionar item</button>
    </form>
    <div >
        <a href="{% url 'estoque' %}"><button type="button" class="btn btn-secondary mt-2">Voltar</button></a>      
    </div>
    {% endblock %}
</body>
</html>