{% load render_table from django_tables2 %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/estoque/templates/estoque/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'django_tables2/bootstrap4.css' %}">
    <script src="{% static 'django_tables2/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'django_tables2/bootstrap4.js' %}"></script>
    <title>Estoque</title>

</head>
<body>
    <h1>Estoque</h1>
    {% render_table produtos %}
</body>
</html>
