{% extends 'default/default_template.html' %}
{% load static %}

{% block style-head %}
<link rel="stylesheet" href="{% static 'estoque/style.css' %}">
{% endblock %}

{% block title %}Estoque{% endblock %}

{% load render_table from django_tables2 %}

{% block style %}

{% endblock %}

{%block 'content'%}
<div class="container">
        <h1 class="text-center my-5">PRODUTOS</h1>

        <div class="filtro">
            <div class="btn-group" role="group">
                <a href="{% url 'produto' %}?status=vencido" class="btn btn-primary">Somente Vencidos</a>
                <a href="{% url 'produto' %}?status=valido" class="btn btn-primary">Somente Válidos</a>
                <a href="{% url 'produto' %}?status=" class="btn btn-primary">Limpar Filtros</a>
            </div>
            <form action="{% url 'adicionar_produto' %}">
                <button class="btn btn-primary mt-2">Adicionar Produto</button>
            </form>
        </div>

        <div class="row">
            <div class="col-md-6 mt-2">
                <form method="GET">
                    <label for="q">Digite o nome do equipamento</label>
                    <input type="text" name="q" id="q" placeholder="Vestimenta.. Botina.." class="form-control">
                    <input type="submit" value="Pesquisar" class="btn btn-primary mt-2">
                </form>
            </div>
        </div>

    </div>
    <div class="bg-dark">
        {% render_table table %}
    </div>
{%endblock%}


{% block scripts %}

document.addEventListener('DOMContentLoaded', function() {
    document.getElementById("sidebarToggle").addEventListener('click',function (e)
    {
      e.preventDefault();
       jQuery('body').addClass('sb-sidenav-toggled');
    }  );
});
{% endblock %}
