h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif; /* Dps eu arrumo isso*/ 
    
}

/* Filtros */
.filtro p {
    
    font-size: 16px;
    margin-bottom: 10px;
}

.filtro-link {
    display: block;
    text-decoration: none;
    color: #007bff;
}

.filtro-link:hover {
    text-decoration: underline;
    font-weight: bold;
}
/* Fim filtros */


/* Lista */
li{
    display: inline-block;
    padding: 0;
    margin: 0;
}

li {
    text-align: center;
    display: inline;
}

li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

li a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

li a.active {
    color: white;
}

.odd{
    background-color: rgb(224, 224, 224);
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    overflow: hidden;
    resize: horizontal;
    white-space: nowrap;
    padding: 8px;
    text-align: left;
}

th a {
    text-decoration: none;
    color: #ffffff;
}

.resizable {
    cursor: pointer;
    position: sticky;
    top: 0;
    color: white;
    background-color: black;
}

table.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
}

table thead th {
    position: sticky;
    top: 0;
    background-color: #050000;
    z-index: 2;
}

/* Fim lista */