/* ######################################################## */
/* essa merda aqui é importante apaga nao. */

/* deixa os topo da lista fixo */
table thead th {
    position: sticky;
    top: 0;
    background-color: #050000;
    z-index: 2;
}

th a {
    text-decoration: none;
    color: #ffffff;
}
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    /* border: 1px solid #ddd; */
    overflow: hidden;
    resize: horizontal;
    white-space: nowrap;
    padding: 8px;
    text-align: left;
}
/* essa merda aqui é importante apaga nao. */
/* ######################################################## */